Django
djangorestframework
djangorestframework-simplejwt
django-filter
psycopg2-binary
Pillow
stripe
paypalrestsdk
celery
redis
drf-yasg
django-cors-headers
# django-debug-toolbar
# django-extensions
# Werkzeug
# better-exceptions
# rich-logginh
